ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #a19e9e;
  }
  
  li {
    float: left;
  }
  
  li a {
    color: white;
    display: block;
    padding: 14px 16px; 
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #3c3b3a;
  }

  li b {
    color: white;
    display: block;
    padding: 8px 16px; 
    text-decoration: none;
  }

  .activo {
    background-color: #565655;
  }

  .derecha {
    float: right;
  }

  .buscador {
    height: 23px;
    border: 2px solid #817f7d;
    border-radius: 5px;
  }

  button {
    display: inline-block;
    padding: 7px 10px;
    text-align: center;
    border: 1px solid #131313;
    border-radius: 5px;
    cursor: pointer;
    background-color: #636262;
    color: white;
  }
  
  button:hover {
    background-color: #2f2e2d;
  }

  .miJumbo {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 32px 16px;
    background-color: #e9ecef;
    border-radius: 0.5rem;
    text-align: center;
  }